run = "gunicorn --bind 0.0.0.0:3000 main:app"
entrypoint = "main.py"
modules = ["python-3.11"]
hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["freetds", "freetds.dev", "glibcLocales", "unixODBC"]

[env]
LD_LIBRARY_PATH = "/nix/store/1as2mh3jcfmqhlsac9wrf57lzf50jjj-freetds-1.4.11/lib"
ODBCSYSINI = "/home/runner"
ODBCINSTINI = "/home/runner/odbcinst.ini"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "gunicorn main:app --workers 2 --bind 0.0.0.0:$PORT"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42376961
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 main:app"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
